# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  batch: true
  branches:
    include:
    - master

pool:
  vmImage: 'Ubuntu-22.04'

jobs:
- job: Playwright
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '14.x'
    displayName: 'Install Node.js'

  - bash: |
      npm install
    displayName: 'npm install'

  - bash: |
      npx playwright install chromium
    displayName: 'npm install'

  - bash: |
      npm run site:ci
    displayName: 'run Playwright tests'
