resources:
  pipelines:
    - pipeline: UpdateSurveyjstestSite
      source: Update Site Demos (surveyjstest.azurewebsites.net)
      trigger: true

variables:
  npm_config_cache: $(Pipeline.Workspace)/.npm
  CurrentBranch: $(Build.SourceBranchName)
  ProjectId: '2cf848f9-83d5-4ec4-b2e3-ef3321ccc99f'

trigger:
  batch: true
  branches:
    include:
      - V3

pr: none

pool:
  vmImage: "windows-latest"

jobs:
- job: Playwright

  strategy:
    matrix:
      Shard_1: { SHARD_INDEX: 1, SHARD_TOTAL: 8 }
      Shard_2: { SHARD_INDEX: 2, SHARD_TOTAL: 8 }
      Shard_3: { SHARD_INDEX: 3, SHARD_TOTAL: 8 }
      Shard_4: { SHARD_INDEX: 4, SHARD_TOTAL: 8 }
      Shard_5: { SHARD_INDEX: 5, SHARD_TOTAL: 8 }
      Shard_6: { SHARD_INDEX: 6, SHARD_TOTAL: 8 }
      Shard_7: { SHARD_INDEX: 7, SHARD_TOTAL: 8 }
      Shard_8: { SHARD_INDEX: 8, SHARD_TOTAL: 8 }

  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '24.x'
    displayName: 'Install Node.js'

  - bash: |
      npm install
    displayName: 'npm install'

  - bash: |
      export PLAYWRIGHT_SHARD_INDEX=$(SHARD_INDEX)
      npm run examples:ci -- --shard=$(SHARD_INDEX)/$(SHARD_TOTAL)
    displayName: 'run Playwright tests'

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '$(Build.SourcesDirectory)/test-results/results-shard-$(SHARD_INDEX).xml'
      testRunTitle: 'Playwright E2E Shard $(SHARD_INDEX)'
    condition: succeededOrFailed()
    displayName: 'Publish Playwright Test Results'

  - task: CopyFiles@2
    inputs:
      SourceFolder: '$(Build.SourcesDirectory)/test-results/'
      Contents: '**'
      TargetFolder: '$(Build.ArtifactStagingDirectory)/Site-Test-Artifacts/$(SHARD_INDEX)'
      OverWrite: true
    condition: failed()
    displayName: 'Copy VRT/Failed Test Artifacts for Shard $(SHARD_INDEX)'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/Site-Test-Artifacts/$(SHARD_INDEX)'
      ArtifactName: 'Site-Test-Artifacts-Shard-$(SHARD_INDEX)'
      publishLocation: 'Container'
    condition: failed()
    displayName: 'Publish Test Artifacts for Shard $(SHARD_INDEX)'